*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    }
    
body {
    height: 80vh;
    flex-wrap: wrap;
    }

.info-area{
    margin-top: 130px;
}

form {
    border: 2px solid #707070;
    padding: 10px 10px 10px 40px;
    width: 70%;
    max-width: 700px;
    border-radius: 20px;
    text-align: center;
    margin: 0 auto;
    }

.square {
    border: 2px solid #707070;
    padding: 10px 10px 0px 0px;
    width: 95%;
    max-width: 700px;
    display: flex; 	
    padding-top: 0px;
}

.square li {
    display: list-item;
    list-style-type: none;
    text-transform: uppercase;
    padding: 0.5em;
  }

/* infoクラス(本の情報が入るリスト)の左側に線をつける */
.info{
    border-left: 2px solid #707070;
}

.info2{
    text-align: center;
}

  /* テキストボックス配置 */
input {
    padding: 10px 15px;
    border-radius: 10px;
    transition: 0.3s ease;
    color: #131313;
}

input[type=text] {
    width: 395px;
    margin-bottom: 10px;
    border: 2px solid #b5b6b8;
}
  
input[type=text]:placeholder-shown {
    border: 2px solid #EAE4DA;
}
  
input[type=text]::placeholder {
    color: #b5b6b8;
}

input[type=text][half] {
    width: 150px;
    padding: 5px;
    border-radius: 0px;
    margin-top: 10px;
    text-align: center;
    }

  /* ボタン配置 */
  * input[type=submit] {
    font-size: 10pt;
    background-color: #45B3CF;
    color: white;
    width: 50pt;
    padding: 5px;
    margin-top: 10px;
    border-radius: 0px;
    text-align: center;
}
/* 横並び */
.flex{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

.flex2{
    width: 70%;
    max-width: 700px;
    margin: 0 auto;
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.tag2{
    margin-left: 30%;
}

/* 要素内の縦スクロールバー追記 */
.review{
    overflow-y: auto;
    width: 70%;
    max-width: 700px;
    height: 200px;
    margin: 0 auto;
    border: #707070 2px solid;
    padding: 10px;
    margin-top: 10px;
}

/* スクロールバーのカスタマイズ */
.review::-webkit-scrollbar{
    width: 10px;
}

.review::-webkit-scrollbar-track {
    border-radius: 5px;
    background: #cde7ee;
  }

.review::-webkit-scrollbar-thumb {
    background-color: rgba(36, 36, 39, 0.5);
    border-radius: 10px;
}

/* 
#review::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
} */

.main_board{
    /* margin-top: 70pt; */
    width: 100%;
    margin: 0 auto;
    transition: all 0.6s;
    }

.main_board button{
    background-color: #3e4142;
    color: white;
    height: 30px;
    }

.star5_rating{
    position: relative;
    z-index: 0;
    display: inline-block;
    white-space: nowrap;
    color: #CCCCCC; /* グレーカラー 自由に設定化 */
    /*font-size: 30px; フォントサイズ 自由に設定化 */
}

.star5_rating:before, .star5_rating:after{
    content: '★★★★★';
}

.star5_rating:after{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
    color: #ffcf32; /* イエローカラー 自由に設定化 */
}

.star5_rating[data-rate="5"]:after{ width: 100%; } /* 星5 */
.star5_rating[data-rate="4"]:after{ width: 80%; } /* 星4 */
.star5_rating[data-rate="3"]:after{ width: 60%; } /* 星3 */
.star5_rating[data-rate="2"]:after{ width: 40%; } /* 星2 */
.star5_rating[data-rate="1"]:after{ width: 20%; } /* 星1 */
.star5_rating[data-rate="0"]:after{ width: 0%; } /* 星0 */