*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    }
    
  body {
    height: 100vh;
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    }
  
  form {
    border: 2px solid #707070;
    padding: 40px 10px 0px 40px;
    width: 70%;
    max-width: 700px;
    border-radius: 20px;
    }
    
    /* テキストボックス配置 */
  input {
    padding: 10px 15px;
    border-radius: 10px;
    transition: 0.3s ease;
    color: #131313;
    }
  input[type=text] {
    width: calc(100% - 30px);
    margin-bottom: 30px;
    border: 2px solid #161718;
    }
  
  input[type=text]:placeholder-shown {
    border: 2px solid #EAE4DA;
    }
  
  input[type=text]::placeholder {
    color: #b5b6b8;
    }
  input[type=text][half] {
    width: 300px;
    float: left;
    margin-right: 30px;
    }
   
#half2{
    width: calc(50% - 30px);
    float: left;
    margin-right: 30px;
  }

#left{
    float: left;
    margin-right: 350px;
}

    /* ボタン配置 */
  * input[type=submit] {
      font-size: 18pt;
      background-color: #45B3CF;
      color: white;
      width: 80pt;
      padding: 10px 15px;
      border-radius: 0px;
    }
  
  * input:focus {
    outline: 0;
    }
  
  @media screen and (max-width: 479px) { /*ウィンドウ幅が最大479pxまでの場合に適用*/
    #menu-bg {
    background-color: #00FF00; /*緑色*/
    }
  }

  @media screen and (min-width: 767px) { /*ウィンドウ幅が767px以上の場合に適用*/
    #menu-bg {
    background-color: #00FFFF; /*青色*/
    }
  }