@media screen and (min-width: 1025px) {
    /* ここが問題児 */
    .main_board{
      margin-top: 70pt;
      transition: all 0.6s;
    }
    .main_board .book_search {
        margin-left: 210pt;
        font-size: 15pt;
    }
    .main_board input{
      font-size: 15pt;
    }
    .main_board .view_search{
        font-size: 15pt;
        margin-left: 10pt;
        background-color: #45B3CF;
        color: white;
        width: 70pt;
    }
    .main_board .return_button{
        font-size: 15pt;
        margin-left: 45%;
        background-color: #45B3CF;
        color: white;
        width: 70pt;
        height: 5%;
        margin-top: 1%;
    }
    /* ここが問題児2 */
    .book_column, .book_column_available, .book_column_review, .tag{
      background-color: #36587A;
      color: white;
      font-size: 20pt;
      height: 35pt;
    }
    .book_column{
      width:20%;
    }
    .book_column_review, .book_column_available, .tag{
      width: 10%;
    }
    .book_table{
      overflow-y: auto;
      overflow-x: auto;
      border: none;
      width: 1263px;
      margin-top: 5px;
      border-collapse: collapse;
      font-family: 'Times New Roman', Times, serif;
      border-left: black solid 1px;
      border-bottom: black solid 1px;
    }
    .blue{
        background-color: #E7EFF8;
        height: 35pt;
        text-align: center;
      }
    .white{
        background-color: #FFFFFF;
        height: 35pt;
        text-align: center;   
    }
}