*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  }
  
body {
  height: 100vh;
  display: flex;
  flex-direction: column; 
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  }

form {
  border: 2px solid #707070;
  padding: 40px 10px 0px 40px;
  width: 70%;
  max-width: 700px;
  border-radius: 20px;
  }
  
  /* テキストボックス配置 */
input {
  padding: 10px 15px;
  border-radius: 10px;
  transition: 0.3s ease;
  color: #131313;
  }
input[type=text] {
  width: calc(100% - 30px);
  margin-bottom: 30px;
  border: 2px solid #b5b6b8;
  }

input[type=email]:placeholder-shown {
  border: 2px solid #EAE4DA;
  }

input[type=text]:placeholder-shown {
  border: 2px solid #EAE4DA;
  }

input[type=email]::placeholder {
  color: #b5b6b8;
 }

input[type=text]::placeholder {
  color: #b5b6b8;
  }
input[type=text][half] {
  width: calc(50% - 30px);
  float: left;
  margin-right: 30px;
  }

  /*h4を指定  */
#half{
  width: calc(50% - 30px);
  float: left;
  margin-right: 30px;
}
/**/
#half2 {
  float: left;
  margin-right: 120px;
}

#half3 {
  float: right;
  margin-left: 90px;
}
 
  /* プルダウン学科css */
  .cp_ipselect {
    overflow: hidden;
    width: 45%;
    text-align: left;

    width: calc(50% - 30px);
    float: left;
    margin-right: 30px;
  }
  .cp_ipselect select {
    width: 100%;
    padding-right: 1em;
    cursor: pointer;
    text-indent: 0.01px;
    text-overflow: ellipsis;
    border: none;
    outline: none;
    background: transparent;
    background-image: none;
    box-shadow: none;
    -webkit-appearance: none;
    appearance: none;
  }
  .cp_ipselect select::-ms-expand {
      display: none;
  }
  .cp_ipselect.cp_sl02 {
    position: relative;
    border: 1px solid #bbbbbb;
    border-radius: 10px;
    background: #ffffff;
  }
  .cp_ipselect.cp_sl02::before {
    position: absolute;
    top: 0.8em;
    right: 0.9em;
    width: 0;
    height: 0;
    padding: 0;
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #666666;
    pointer-events: none;
  }
  .cp_ipselect.cp_sl02:after {
    position: absolute;
    top: 0;
    right: 2.5em;
    bottom: 0;
    width: 1px;
    content: '';
    border-left: 1px solid #bbbbbb;
  }
  .cp_ipselect.cp_sl02 select {
    padding: 8px 38px 8px 8px;
    color: #666666;
  }

  
   /* プルダウン学年css */
   .s_year {
    overflow: hidden;
    width: 45%;
    text-align: right;

    width: calc(50% - 30px);
    float: left;
    margin-right: 30px;
  }
  .s_year select {
    width: 100%;
    padding-right: 1em;
    cursor: pointer;
    text-indent: 0.01px;
    text-overflow: ellipsis;
    border: none;
    outline: none;
    background: transparent;
    background-image: none;
    box-shadow: none;
    -webkit-appearance: none;
    appearance: none;
  }
  .s_year select::-ms-expand {
      display: none;
  }
  .s_year.cp_pull {
    position: relative;
    border: 1px solid #bbbbbb;
    border-radius: 10px;
    background: #ffffff;
  }
  .s_year.cp_pull::before {
    position: absolute;
    top: 0.8em;
    right: 0.9em;
    width: 0;
    height: 0;
    padding: 0;
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #666666;
    pointer-events: none;
  }
  .s_year.cp_pull:after {
    position: absolute;
    top: 0;
    right: 2.5em;
    bottom: 0;
    width: 1px;
    content: '';
    border-left: 1px solid #bbbbbb;
  }
  .s_year.cp_pull select {
    padding: 8px 38px 8px 8px;
    color: #666666;
  }  

  /* ボタン配置 */
* input[type=submit] {
    font-size: 18pt;
    background-color: #45B3CF;
    color: white;
    width: 80pt;
    padding: 10px 15px;
    border-radius: 0px;
    margin-top: 10px;
  }

* input:focus {
  outline: 0;
  }
