.book_table{
    overflow-y: auto;
    border: none;
    width: 80%;
    margin-top: 5%;
    margin-left: 10%;
    border-collapse: collapse;
    font-family: 'Times New Roman', Times, serif;
    border-left: black solid 1px;
    border-right: black solid 1px;
    border-bottom: black solid 1px;
}
th {
    background-color: #36587A;
    color: white;
    font-size: 20pt;
    height: 35pt;
    border: none;
}
.book_table .isbn{
    width: 40%;
}
.book_table .id_table{
    width:10%
}
.book_table .column_title{
    width:60%
}
td{
    border: none;
    text-align: center;
}
