.hamburger {
  display : block;
  position: absolute;
  z-index : 3;
  left : 13px;
  top   : 12px;
  width : 42px;
  height: 42px;
  cursor: pointer;
  text-align: center;
}
.hamburger span {
  display : block;
  position: absolute;
  width   : 30px;
  height  : 2px ;
  left    : 1300px;
  background : rgb(241, 239, 239);
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition   : 0.3s ease-in-out;
  transition        : 0.3s ease-in-out;
}
.hamburger span:nth-child(1) {
  top: 10px;
}
.hamburger span:nth-child(2) {
  top: 20px;
}
.hamburger span:nth-child(3) {
  top: 30px;
}

/* ナビ開いてる時のボタン */
.hamburger.active span:nth-child(1) {
  top : 16px;
  left: 1300px;
  background :#fff;
  -webkit-transform: rotate(-45deg);
  -moz-transform   : rotate(-45deg);
  transform        : rotate(-45deg);
}

.hamburger.active span:nth-child(2),
.hamburger.active span:nth-child(3) {
  top: 16px;
  background :#fff;
  -webkit-transform: rotate(45deg);
  -moz-transform   : rotate(45deg);
  transform        : rotate(45deg);
}

nav.globalMenuSp {
  position: fixed;
  z-index : 2;
  margin-top: pt;
  top  : 0;
  left : 0;
  color: #000;
  background: #707070;
  text-align: center;
  transform: translateX(-100%);
  transition: all 0.6s;
  width: 20%;
}

nav.globalMenuSp ul {
  background: #707070;
  padding: 0;
  width: 100%;
  height: 600vh;
}

nav.globalMenuSp ul li {
  list-style-type: none;
  padding: 0;
  width: 100%;
  
}
nav.globalMenuSp ul li:last-child {
  margin-top: 30pt;
  padding-bottom: 0;
  border-bottom: none;
  border-top: #aaa 1px solid;
  margin-top: 190pt;
}
nav.globalMenuSp ul li:hover{
  background :#ddd;
}

nav.globalMenuSp ul li a {
  display: block;
  color: #FFFFFF;
  padding: 0.6em 0;
  text-decoration :none;
  font-size: 15pt;
}

/* このクラスを、jQueryで付与・削除する */
nav.globalMenuSp.active {
  transform: translateX(0%);
}


/*layout.css から持ってきた */

body {
  margin: 0;
}

header {
  position: absolute;
  white-space: nowrap;
  background-color: #707070;
  width: 100%;
  height: 13vh;
  top: 0;
  left: 0;
}

.title {
  margin-left: 70px;
  color: #FFFFFF;
}

.header_menu {
  list-style: none;
  padding: 0;
}

.header_menu li {
  width: 220px;
  padding: 10px 0;
  margin-left: 5px;
}

.logout {
  position: absolute;
  bottom: 20px;
  width: 220px;
}

.header_menu .menu_style {
  font-size: 1.2rem;
  color: #aaa;
  display: block;
  width: 100%;
  padding: 10px 0 10px 20px;
  text-decoration: none;
}

.menu_hover:hover {
  color: #04A9F3;
  border-left: #04A9F3 5px solid;
}
.main_board{
  margin-top: 70pt;
  width: 100%;
  transition: all 0.6s;
  
}
.main_board.active{
  transform: translateX(270px);
}
.screen_title{
  margin-left: 60pt;
  font-size: 15pt;
  border-bottom: #aaa 1px solid;
  margin-right: 300pt;
}
.main_board .attention ,.book_history{
    margin-left: 20pt;
    font-size: 15pt;
}
.main_board .result{
    margin-left: 650pt;
    color: #FF0000;
    font-size: 15pt;
}
.rent_column , .book_column,.rent_column2,.history_column {
    background-color: #36587A;
    font-size: 20pt;
    color: white;
    height: 35pt;
    margin-bottom: -12pt;

}
.rent_column .column_title{
    margin-left: 200pt;
}
.rent_column .isbn{
    margin-left: 240pt;
}
.rent_column2 .column_title{
    margin-left: 120px;
}
.rent_column2 .author,.rent_column2 .company,.return_day{
    margin-left: 150px;
}
.main_board .result_book{
    margin-left: 30pt;
    font-size: 15pt;
}
.main_board .book_search {
    margin-left: 130pt;
    font-size: 15pt;
}
.main_board .book_amount {
    margin-left: 20pt;
    font-size: 15pt;
}

.main_board .view_search{
    font-size: 15pt;
    margin-left: 10pt;
    background-color: #45B3CF;
    color: white;
    width: 70pt;
}
.main_board .return_button{
    font-size: 15pt;
    margin-left: 450pt;
    background-color: #45B3CF;
    color: white;
    width: 70pt;
}
.book_column .column_title, .author,.company,.view_star,.available{
    margin-left: 100px;
}
.history_column .column_title,.history_column .author,.history_column .company,.rent_day,.history_column .return_day{
  margin-left: 110px;

}
.blue{
    background-color: #E7EFF8;
    height: 35pt;
    border-bottom: rgb(49, 48, 48) 1px solid;
    border-top: rgb(49, 48, 48) 1px solid;
  }
.white{
    background-color: #FFFFFF;
    height: 13pt;
    
}
  /*学生レビューのスタイル */
.screen_title{
  margin-left: 60pt;
  font-size: 20pt;
  border-bottom: #aaa 1px solid;
  margin-right: 300pt;
}
.user_name{
  margin-left: 10pt;
  font-size: 20pt;
  margin-bottom: -5pt;
}
.name_type input{
  font-size: 20pt;
  padding: 10px;
  width: 200pt;
  text-align: center;
}
.show_anonymous{
  font-size: 18pt;
}
.review_style{
  display: flex;
  margin-left: 75pt;
  margin-top: -15pt;
}
.rate{
  margin-top: 26pt;
  margin-left: 150pt;
  border: rgb(145, 144, 144) solid 1px;
  height: 95pt;
  width: 250pt;
}
.rate .rate_question{
  text-align: center;
  font-size: 20pt;
  margin-top: 5pt;
}
.evaluation{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin-top: -17pt;
}
.evaluation input[type='radio']{
  display: none;
}
.evaluation label{
  position: relative;
  padding: 10px 10px 0;
  color: gray;
  cursor: pointer;
  font-size: 50px;
}
.evaluation label .text{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  text-align: center;
  font-size: 12px;
  color: gray;
}
.evaluation label:hover,
.evaluation label:hover ~ label,
.evaluation input[type='radio']:checked ~ label{
  color: yellow;
}
.review_area{
  margin-left: 75pt;
  margin-top: 40pt;
}
.review_area .title_view{
  font-size: 18pt;
  margin-left: 10pt;
}
.review_add{
  border: rgb(145, 144, 144) solid 1px;
  font-size: 18pt;
  padding: 10pt;
  margin-top: -15pt;
}
.post_button{
  margin-left: 340pt;
}
.post_button button{
  font-size: 15pt;
  background-color: #45B3CF;
  color: white;
  width: 90pt;
}
/*カメラ画面*/
.camera_area{
  
  height: 350pt;
  margin-right: 390pt;
  margin-top: -10pt;
}




  