{% extends "student_layout.html" %}

{% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/book_detail.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/book_detail_mobile.css')}}">
    <title>本詳細情報</title>
{% endblock %}

    {% block content %}
    <div class="info-area">
        <form action="{{url_for('tag_add')}}" method="post">
            <h4 style="text-align: left;">本詳細情報</h4>
            <div class="square">
                <ul class="info2">
                    <li><img src={{book[1]}}></li>
                </ul>
                <ul class="info">
                    <li><input type="text" placeholder="タイトル" autocomplete="off" value={{book[2]}} disabled></li>
                    <li><input type="text" placeholder="著者" autocomplete="off" value={{book[3]}} disabled></li>
                    <li><input type="text" placeholder="出版社" autocomplete="off" value={{book[4]}} disabled></li>
                    <li><input type="text" placeholder="発売日" autocomplete="off" value={{book[5]}} disabled></li>
                </ul>
            </div>
            <div class="flex">
                <h4>残り <span style="color: red;">{{book_amount}}</span> 冊</h4>
                <div class="tag2">

                    <input type="text" name="tag" half placeholder="タグを追加" list="datalist">
                    <datalist name="course" id="datalist">
                        {% for n in tag_pd%}
                            <option value="{{n[0]}}">{{n[0]}}</option>
                        {% endfor %}
                    </datalist>        
                    <input type="hidden" name="book_number" value="{{book[0]}}">
                    <input type="submit" value="追加">
                </div>
            </div>
            <p style="color: red;">{{tag_name}}</p>
            </form>
        <div class="flex2">
            <h4>レビュー</h4>
            <button type="button" onclick="window.location.href='{{url_for('review', isbn=book[0])}}'">レビューを書く</button>
        </div>
    </div>
    <div class="review">
        {% for i in range(review | length) %}
            {% if review[i][4] %}
                {% if review[i][2] == None %}    
                    匿名ユーザ
                    <p><span class="star5_rating" data-rate={{review[i][3]}}></span></p>
                {% else %}
                    匿名ユーザ
                    <p><span class="star5_rating" data-rate={{review[i][3]}}></span></p>
                    {{review[i][2]}} <br>
                {% endif %}
            {% else %}
                {% if review[i][2] == None %}    
                    {{review[i][0]}}
                    <p><span class="star5_rating" data-rate={{review[i][3]}}></span></p>
                {% else %}
                    {{review[i][0]}}
                    <p><span class="star5_rating" data-rate={{review[i][3]}}></span></p>
                    {{review[i][2]}} <br>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}