<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/book_register.css')}}">
    <title>本詳細情報</title>
</head>
<body>
    <form action="{{url_for('book_register_result')}}">
        <h4 style="text-align: left;">本詳細情報</h4>
        <div class="square">
            <ul class="info2">
                <li><img src={{book[1]}} width="180" height="200"></li>
                <li>冊数:<input type="number" half  min="1" autocapitalize="off" name="quantity"></li>
            </ul>
            <ul class="info">
                <li><input type="text" placeholder="タイトル" autocomplete="off" value={{book[2]}}></li>
                <li><input type="text" placeholder="著者" autocomplete="off" value={{book[3]}}></li>
                <li><input type="text" placeholder="出版社" autocomplete="off" value={{book[4]}}></li>
                <li><input type="text" placeholder="発売日" autocomplete="off" value={{book[5]}}></li>
            </ul>
        </div>
        <input type="submit" value="この本を登録">
        {% for i in range(book|length) %}
            <input type="hidden" name="book" value={{book[i]}}>
        {% endfor %}
    </form>
</body>
</html>