<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{{url_for('book_register_result')}}">
        
        {% for i in range(book|length) %}
            <div>{{book[i]}}</div>
            <input type="text" name="book" value={{book[i]}}>
        {% endfor %}
        <input type="text" name="quantity">

        <input type="submit" value="登録">
    </form>
</body>
</html>