<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/book_detail.css')}}">
    <title>本詳細情報</title>
</head>
<body>
    <form action="{{url_for('book_register_result')}}">
        <h4 style="text-align: left;">本詳細情報</h4>
        <div class="square">
            <ul class="info2">
                <li><img src="" width="180" height="280"></li>
            </ul>
            <ul class="info">
                <li><input type="text" placeholder="タイトル" autocomplete="off"></li>
                <li><input type="text" placeholder="著者" autocomplete="off"></li>
                <li><input type="text" placeholder="出版社" autocomplete="off"></li>
                <li><input type="text" placeholder="発売日" autocomplete="off"></li>
            </ul>
        </div>
        <div class="flex">
            <h4>残り 3 冊</h4>
            <select name="">
                <option value="" hidden>タグを選択</option>
            </select>
            <input type="submit" value="追加">
        </div>
    </form>
    <div class="flex2">
        <h4>レビュー</h4>
        <input type="button" onclick="" value="カスタムレビューを書く">
    </div>
</body>
</html>