<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/book_register.css')}}">
    <title>本登録</title>
</head>
<body>
    <form action="{{url_for('book_register_result')}}">
        <h4>本詳細情報</h4>
        <div class="square">
            <ul>
                <!-- <li id="photo">  -->
                <li><input type="text" half placeholder="(例)タイトル" autocomplete="off">
                <li><input type="text" placeholder="(例)著者" autocomplete="off">
                <li><input type="text" placeholder="(例)出版社" autocomplete="off">
                <li><input type="text" placeholder="(例)発売日" autocomplete="off">

                    
                    {% for i in range(book|length) %}
                    <div>{{book[i]}}</div>
                    <input type="text" name="book" value={{book[i]}}>
                    {% endfor %}
                    <!-- <input type="text" name="quantity"> -->
            </ul>
        </div>
    </form>
</body>
</html>