<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
	<link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
	<title>初回ログインパスワード変更</title>
</head>
<body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="./js/login.js"></script>
	<div class="wrapper">
		<form class="login" action="{{url_for('first_login')}}" method="post">
			<p class="title">パスワード変更</p>
			<div class="input-wrap">
			<input type="password" name="new_password"  placeholder="新規パスワード" required="required"/>
			<i class="fa fa-key"></i>
			</div>
			<form id="fieldPassword">
				<div class="input-wrap">
					<input type="password" name="re_password" id="textpassword" placeholder="パスワード" required="required" />
					<i class="fa fa-key"></i>
					<i id="buttonEye" class="toggle-pass fa fa-eye" onclick="pushHideButton()"></i>
				</div>
			<input type="hidden" name="student_flg" value={{student_flg}}>	
			<input type="hidden" name="mail" value={{mail}}>
			<button>
				<i class="spinner"></i> <span class="state">登録</span>
			</button>
			</form>
		</form>
	</div>
	<script language="javascript">
		function pushHideButton() {
			var txtPass = document.getElementById("textpassword");
			var btnEye = document.getElementById("buttonEye");
			if (txtPass.type === "text") {
				txtPass.type = "password";
				btnEye.className = "fa fa-eye toggle-pass";
			} else {
				txtPass.type = "text";
				btnEye.className = "fa fa-eye-slash toggle-pass";
			}
		}
	</script>
</body>
</html>