{% extends "manager_layout.html" %}

{% block head %}
<title>管理者削除結果</title>
{% endblock %}

{% block content %}
            <link rel="stylesheet" href="{{url_for('static', filename='css/manager_book_view.css')}}">
            <span class="report">※管理者一覧です</span>
            <link rel="stylesheet" href="{{url_for('static', filename='css/manager_table.css')}}">
            <table class="book_table">
                <tr>
                    <th class="column_view">名前</th>
                    <th class="column_view">メールアドレス</th>
                    <th class="book_num"></th>
                </tr>
                {% for i in range(list | length ) %}
                {% if i%2 == 0 %}
                <tr>
                    <td class="blue">{{list[i][0]}}</td>
                    <td class="blue">{{list[i][1]}}</td>
                    <td class="blue"><a href="{{url_for('manager_delete_result',mail=list[i][1])}}" id="btn">削除</a></td>
                </tr>
                {% else %}
                    <td class="white">{{list[i][0]}}</td>
                    <td class="white">{{list[i][1]}}</td>
                    <td class="white"><a href="{{url_for('manager_delete_result',mail=list[i][1])}}" id="btn">削除</a></td>
                </tr>
                {% endif %}
                {% endfor %}
            </table>

            <script>
                var btn = document.getElementById("btn");
                 
                btn.addEventListener("click", function() {
                    var result = window.confirm("本当に削除してよろしいですか？");
                    
                    if( result ) {
                        console.log("はい");
                    }
                    else {
                        console.log("いいえ");
                    }
                })
            </script>
{% endblock %}