{% extends "manager_layout.html" %}

{% block head %}
<title>学生が借りている本一覧</title>
{% endblock %}

{% block content %}
            <p class="report">※現在、学生が借りている一覧です。</p>
            <span class="student_search">キーワード：</span>
            <input type="text" name="key" size="40" style="font-size: 15pt;">
            <button class="view_search">検索</button><br>
            <p class="renting_column">
                <span class="name">名前</span>
                <span class="column_title">タイトル</span>
                <span class="rent_day">貸出日</span>
                <span class="return_day">返却日</span>
            </p>
            <p class="blue"></p>
            <p class="white"></p>
            <p class="blue"></p>
            <p class="white"></p>
            <p class="blue"></p>
            <p class="white"></p>
            <p class="blue"></p>
            <p class="white"></p>
            <p class="blue"></p>
            <p class="white"></p>
            <p class="blue"></p>
            <p class="white"></p>
{% endblock %}
