{% extends "manager_layout.html" %}
{% block content %}
            <link rel="stylesheet" href="{{url_for('static', filename='css/manager_book_view.css')}}">
            <p class="report">※進級処理をしたら下記の学生が削除されます</p>
            <p class="last_change" style="margin-right: 3%;"><span>最終変更：2021年3月31日</span><span class="change_name">盛ジョビ</span></p>
            <link rel="stylesheet" href="{{url_for('static', filename='css/manager_table.css')}}">
            <table class="book_table">
                <tr>
                    <th class="book_num"></th>
                    <th class="promotion_table">名前</th>
                    <th class="promotion_table">学籍番号</th>
                    <th class="promotion_table">学科</th>
                </tr>
                
                <tr>
                    <td class="blue">1</td>
                    <td class="blue"></td>
                    <td class="blue"></td>
                    <td class="blue"></td>
                </tr>
                    
                    <td class="white">2</td>
                    <td class="white"></td>
                    <td class="white"></td>
                    <td class="white"></td>
                </tr>
                <tr>
                  <td class="blue">3</td>
                  <td class="blue"></td>
                  <td class="blue"></td>
                  <td class="blue"></td>
                </tr>
            </table>
            <p class="promotion_button"><button>進級</button></p>
            <!-- promotion_column -->
{% endblock %}
