<!-- 学生削除の画面 -->

{% extends "manager_view.html" %}
{% block content %}
            <p class="report">※以下の内容ご入力の上、ご確認ください。</p>
           <div class="edit_board">
                <p class="name">名前</p>
                <p class="name_type"><span><input type="text" name="name" value="盛岡"></span>
                    <span><button>検索</button></span>
                </p>
                <div class="search_table">
                    <p class="search_column">
                        <span class="name">名前</span>
                        <span class="stu_number">学籍番号</span>
                        <span class="course">学科</span>
                    </p>
                    <p class="blue"></p>
                    <p class="white"></p>
                    <p class="blue"></p>
                    <p class="white"></p>
                    <p class="blue"></p>

                </div>
            </div>
{% endblock %}
