{% extends "manager_layout.html" %}

{% block head %}
<title>学生が借りている本一覧</title>
{% endblock %}

{% block content %}
            <link rel="stylesheet" href="{{url_for('static', filename='css/manager_book_view.css')}}">
            <p class="report">※現在、学生が借りている一覧です。</p>
            <span class="student_search">キーワード：</span>
            <input type="text" name="key" size="19" style="font-size: 15pt;">
            <button class="view_search">検索</button><br>
            <link rel="stylesheet" href="{{url_for('static', filename='css/manager_table.css')}}">
            <div class="scroll_bar">
            <table class="book_table">
                <tr>
                    <th class="column_book">名前</th>
                    <th class="column_book">タイトル</th>
                    <th class="column_book">貸出日</th>
                    <th class="column_book">返却日</th>
                </tr>
                {% for i in range(renting_list | length ) %}
                    {% if i%2 == 0 %}   
                        {% if renting_list[i][3] == None %}
                        <tr>
                            <td class="blue">{{renting_list[i][0]}}</td>
                            <td class="blue">{{renting_list[i][1]}}</td>
                            <td class="blue">{{renting_list[i][2]}}</td>
                            <td class="blue"></td>
                        </tr>
                        {% else %}
                        <tr>
                            <td class="blue">{{renting_list[i][0]}}</td>
                            <td class="blue">{{renting_list[i][1]}}</td>
                            <td class="blue">{{renting_list[i][2]}}</td>
                            <td class="blue">{{renting_list[i][3]}}</td>
                        </tr>
                        {% endif %}
                {% else %}
                    {% if renting_list[i][3] == None %}
                    <tr>
                        <td class="white">{{renting_list[i][0]}}</td>
                        <td class="white">{{renting_list[i][1]}}</td>
                        <td class="white">{{renting_list[i][2]}}</td>
                        <td class="white"></td>
                    </tr>
                    {% else %}
                        <tr>
                            <td class="white">{{renting_list[i][0]}}</td>
                            <td class="white">{{renting_list[i][1]}}</td>
                            <td class="white">{{renting_list[i][2]}}</td>
                            <td class="white">{{renting_list[i][3]}}</td>
                        </tr>
                    {% endif %}
                    {% endif %}
                {% endfor %}
            </table>
            </div>
{% endblock %}
