{% extends "manager_layout.html" %}

{% block head %}
<title>管理者削除結果</title>
{% endblock %}

{% block content %}
            <link rel="stylesheet" href="{{url_for('static', filename='css/manager_book_view.css')}}">
            <span class="report">※管理者一覧です</span>
            <link rel="stylesheet" href="{{url_for('static', filename='css/manager_table.css')}}">
            <table class="book_table">
                <tr>
                    <th class="column_view">名前</th>
                    <th class="column_view">メールアドレス</th>
                    <th class="book_num"></th>
                </tr>
                
                <tr>
                    <td class="blue"></td>
                    <td class="blue"></td>
                    <td class="blue"><button class="delete_button">削除</button></td>
                </tr>
                    <td class="white"></td>
                    <td class="white"></td>
                    <td class="white"><button class="delete_button">削除</button></td>
                </tr>
                <tr>
                  <td class="blue"></td>
                  <td class="blue"></td>
                  <td class="blue"><button class="delete_button">削除</button></td>
              </tr>
            </table>
            <!-- promotion_column -->
{% endblock %}
