<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
	<link rel="stylesheet" href="./css/login.css">
	<title>管理者登録ページ</title>
</head>
<body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <form action="{{url_for('manager_register_result')}}" method="post">
        名前：<input type="text" name="name"> <br>
        メールアドレス：<input type="email" name="mail"> <br>
        メールアドレス(再入力)：<input type="email" name="re_mail"> <br>
        <input type="submit" value="登録" id="btn">
    </form>
    <script>
        var btn = document.getElementById('btn');
         
        btn.addEventListener('click', function() {
            var result = window.confirm('本当に登録してよろしいですか？');
            
            if( result ) {
                console.log('はい');
            }
            else {
                console.log('いいえ');
            }
        })
    </script>
    {{error}}
    {{event}}
</body>
</html>