{% extends "manager_layout.html" %}
{% block content %}
            <p class="report">※進級処理をしたら下記の学生が削除されます</p>
            <p class="last_change"><span>最終変更：2021年3月31日</span><span class="change_name">盛ジョビ</span></p>
            <p class="promotion_column">
                <span class="name">名前</span>
                <span class="stu_number">学籍番号</span>
                <span class="course">学科</span>
    
            </p>
            <p class="blue"></p>
            <p class="white"></p>
            <p class="blue"></p>
            <p class="white"></p>
            <p class="blue"></p>
            <p class="white"></p>
            <p class="blue"></p>
            <p class="white"></p>
            <p class="blue"></p>
            <p class="white"></p>
            <p class="blue"></p>
            <p class="white"></p>
            <p class="promotion_button"><button>進級</button></p>
{% endblock %}
