{% extends "manager_layout.html" %}

{% block head %}
  <title>本登録画面</title>
{% endblock %}


{% block content %}
  <div class="camera_area">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <h4 id="left">※本をカメラで登録する為、本のisbnをカメラに向かってかざしてください。</h4>
          <form autocomplete="off" action="{{url_for('book_register_verification')}}">
              <h3 id="half">本登録画面</h3>
              <h4 align=right><a href="">手入力登録する方はこちら</a></h4>
              <!-- カメラ -->
              <script>
                  var DetectedCount=0,DetectedCode="";
                  var video,tmp,tmp_ctx,jan,prev,prev_ctx,w,h,mw,mh,x1,y1;
                  window.addEventListener('load',function(event){
                    video=document.createElement('video');
                    video.setAttribute("autoplay","");
                    video.setAttribute("muted","");
                    video.setAttribute("playsinline","");
                    video.onloadedmetadata = function(e){video.play();};
                    prev=document.getElementById("preview");
                    prev_ctx=prev.getContext("2d");
                    tmp = document.createElement('canvas');
                    tmp_ctx = tmp.getContext("2d");
                    jan=document.getElementById("jan");
                    navigator.mediaDevices.getUserMedia(
                      //マイクはオフ, カメラの設定   背面カメラを希望する 640×480を希望する 1230*800
                      {"audio":false,"video":{"facingMode":"environment","width":{"ideal":640},"height":{"ideal":480}}}
                    ).then( //許可
                      function(stream){
                        video.srcObject = stream;
                        //0.8秒毎にスキャンする
                        setTimeout(Scan,800,true);
                      }
                    ).catch( //拒否
                      function(err){jan.value+=err+'\n';}
                    );
                    function Scan(first){
                      if(first){
                        //選択された幅高さ
                        w=video.videoWidth;
                        h=video.videoHeight;
                        //画面上の表示サイズ
                        prev.style.width=(w/2)+"px";
                        prev.style.height=(h/2)+"px";
                        //内部のサイズ
                        prev.setAttribute("width",w);
                        prev.setAttribute("height",h);
                        mw=w*0.6; //0.5
                        mh=w*0.3; //0.2
                        x1=(w-mw)/2;
                        y1=(h-mh)/2;
                      }
                      prev_ctx.drawImage(video,0,0,w,h);
                      prev_ctx.beginPath();
                      prev_ctx.strokeStyle="rgb(255,0,0)";
                      prev_ctx.lineWidth=2;
                      prev_ctx.rect(x1,y1,mw,mh);
                      prev_ctx.stroke();
                      tmp.setAttribute("width",mw);
                      tmp.setAttribute("height",mh);
                      tmp_ctx.drawImage(prev,x1,y1,mw,mh,0,0,mw,mh);
                      tmp.toBlob(function(blob){
                        let reader = new FileReader();
                        reader.onload=function(){
                          let config={
                            decoder: {
                              readers: ["ean_reader","ean_8_reader"],
                              multiple: false, //同時に複数のバーコードを解析しない
                            },
                            locator:{patchSize:"large",halfSample:false},
                            locate:false,
                            src:reader.result,
                          };
                          Quagga.decodeSingle(config,function(){});
                        }
                        reader.readAsDataURL(blob);
                      });
                      setTimeout(Scan,50,false);
                    }
                    Quagga.onDetected(function (result) {
                      //読み取り誤差が多いため、3回連続で同じ値だった場合に成功とする
                      if(DetectedCode==result.codeResult.code){
                        DetectedCount++;
                      }else{
                        DetectedCount=0;
                        DetectedCode=result.codeResult.code;
                      }
                      if(DetectedCount>=3){
                        console.log(result.codeResult.code);
                        jan.value+=result.codeResult.code+' ';
                        jan.scrollTop=jan.scrollHeight;  
                        DetectedCode='';
                        DetectedCount=0;
                      }
                    });
                  });
                  </script>
              <div><canvas id="preview" style="margin-left: 45pt;"></canvas></div>&nbsp;
                <div class="list">
                  <ul>
                  <input type="text" half id="jan" name="isbn">
                  <input type="submit" value="登録">
                  </ul>
                </div>
              </form>
      </div>
      
    <link rel="stylesheet" href="../static/css/book_register_camera.css">
    <script src="../static/js/quagga.min.js"></script>
{% endblock %}