{% extends "manager_layout.html" %}
{% block content %}
            <p class="report">※以下の内容ご入力の上、ご確認ください。</p>
            <div class="edit_board">
                <p class="name">名前</p>
                <p class="name_type"><span><input type="text" name="name" placeholder="(例)盛岡" list="student_list" autocomplete="off"></span>
                    <datalist id="student_list">
                        {% for i in range(student_list | length) %}
                            <option value={{student_list[i][2]}}>
                        {% endfor %}
                    </datalist><br>
                    <span><button>検索</button></span>
                </p>
                <div class="search_table">
                    <p class="search_column">
                        <span class="name">名前</span>
                        <span class="stu_number">学籍番号</span>
                        <span class="course">学科</span>
                    </p>
                    <p class="blue"></p>
                    <p class="white"></p>
                    <p class="blue"></p>
                    <p class="white"></p>
                    <p class="blue"></p>
                </div>
            </div>
{% endblock %}
