<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/manager_register.css')}}">
	<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">	
	<title>管理者新規登録</title>
</head>
<body>
    {% extends "manager_layout.html" %}
    {% block content %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <div class="form_group">
    <h4 id="left" style="margin-bottom: 15pt;">※下記の内容をご入力の上、ご確認ください</h4>
    {% if event != None %}
    <br><p style="color: red;">{{event}}</p>
    {% endif %}    
    {% if error != None %}
    <br><p style="color: blue;">{{error}}</p>
    {% endif %}
    <form autocomplete="off" action="{{url_for('manager_register_result')}}" method="post" id="form1" onsubmit="return check()">
        <h4>名前</h4>
        <input type="text" half placeholder="(例)盛岡太郎" autocomplete="off" name="name">
        <h4 id=half2>メールアドレス</h4>
        <input type="text" placeholder="(例)safasfd@morijyobi.ac.jp" autocomplete="off" name="mail">
        <h4>メールアドレス(再入力)</h4>
        <input type="text" placeholder="(例)safasfd@morijyobi.ac.jp" name="re_mail">
      </form>&nbsp;
      <input type="submit" value="登録" form="form1" id="btn">
    <!-- アラート機能 -->
    <script>
        function check(){
            if(window.confirm('送信してよろしいですか？')){ // 確認ダイアログを表示
                btn.style.visibility = 'hidden';
                return true; // 「OK」時は送信を実行
            }
            else{ // 「キャンセル」時の処理
                window.alert('キャンセルされました'); // 警告ダイアログを表示
                return false; // 送信を中止
            }
}
    </script>
{% endblock %}
</body>
</html>