{% extends "manager_layout.html" %}

{% block head %}
<title>学生変更</title>
<link rel="stylesheet" href="{{url_for('static', filename='css/manager_book_view.css')}}">
{% endblock %}

{% block content %}
            <form action="{{url_for('manager_student_edit')}}" method="post">
            <p class="report2">※以下の内容ご入力の上、ご確認ください。</p>
            <div class="edit_board">
                <p class="name">名前</p>
                <p class="name_type"><span><input type="text" name="name" placeholder="盛岡"></span>
                    <span><button>検索</button></span>
                </p>
                <link rel="stylesheet" href="{{url_for('static', filename='css/manager_table.css')}}">
                
                <div class="scroll_bar">
                    <table class="stu_search">
                    <tr>
                        <th class="book_num"></th>
                        <th class="promotion_table">名前</th>
                        <th class="promotion_table">学籍番号</th>
                        <th class="promotion_table">学科</th>
                    </tr>
                    {% for i in range(name_list | length) %}
                        {% if i%2 == 0 %}
                    <tr>
                        <td class="blue"></td>
                        <td class="blue"><a href="{{url_for('stu_change', stu_number=name_list[i][1])}}">{{name_list[i][0]}}</a></td>
                        <td class="blue">{{name_list[i][1]}}</td>
                        <td class="blue">{{name_list[i][2]}}</td>
                    </tr>
                    {% else %}
                    <tr>
                        <td class="white"></td>
                        <td class="white"><a href="{{url_for('stu_change', stu_number=name_list[i][1])}}">{{name_list[i][0]}}</a></td>
                        <td class="white">{{name_list[i][1]}}</td>
                        <td class="white">{{name_list[i][2]}}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </table>
                </div>
                </div>
        </form>
{% endblock %}
