{% extends "manager_layout.html" %}
{% block content %}
            <link rel="stylesheet" href="{{url_for('static', filename='css/manager_book_view.css')}}">
            <form action="" method="post">
            <p class="report2">※以下の内容ご入力の上、ご確認ください。</p>
            <div class="edit_board">
                <p class="name">名前</p>
                <p class="name_type"><span><input type="text" name="name" placeholder="(例)盛岡" list="student_list" autocomplete="off"></span>
                    <datalist id="student_list">
                        {% for i in range(student_list | length) %}
                            <option value={{student_list[i][2]}}>
                        {% endfor %}
                    </datalist><br>
                    <span><button>検索</button></span>
                </p> 
            <link rel="stylesheet" href="{{url_for('static', filename='css/manager_table.css')}}">
            <div class="scroll_bar">
            <table class="stu_search">
                <tr>
                    <th class="book_num"></th>
                    <th class="promotion_table">名前</th>
                    <th class="promotion_table">学籍番号</th>
                    <th class="promotion_table">学科</th>
                </tr>
                {% for i in range(name_list | length -1 ) %}
                        {% if i%2 == 0 %}       
                <tr>
                    <td class="blue">1</td>
                    <td class="blue"></td>
                    <td class="blue"></td>
                    <td class="blue"></td>
                </tr>
                    
                    <td class="white">2</td>
                    <td class="white"></td>
                    <td class="white"></td>
                    <td class="white"></td>
                </tr>
                <tr>
                  <td class="blue">3</td>
                  <td class="blue"></td>
                  <td class="blue"></td>
                  <td class="blue"></td>
                </tr>
            </table>
            </div>
            </div>
            <!-- search_table -->
                <!-- <div class="search_table">
                    <p class="search_column">
                        <span class="name">名前</span>
                        <span class="stu_number">学籍番号</span>
                        <span class="course">学科</span>
                    </p>
                    {% if name_list %}
                    {% for i in range(len)%}
                    <p class="blue">{{2*i+1}}<a href="{{url_for('stu_delete',stu_number={{name_list[2*i][1]}})}}">{{name_list[2*i][0]}}</a>{{name_list[2*i][1]}}  {{name_list[2*i][2]}}</p>
                    {% if (2*i+1) > len%}
                    <p class="white"></p>
                    {% else %}
                    <p class="white">{{2*i+2}}<a href="{{url_for('stu_delete',stu_number={{name_list[2*i][1]}})}}">{{name_list[2*i][0]}}</a>{{name_list[2*i][1]}}  {{name_list[2*i][2]}}</p>
                    {% endif%}
                    {% endfor %}
                    <p class="blue"></p>
                    <p class="white"></p>
                    <p class="blue"></p>
                    {% else %}
                    <p class="blue"></p>
                    <p class="white"></p>
                    <p class="blue"></p>
                    <p class="white"></p>
                    <p class="blue"></p>
                    {% endif %}
                </div> -->
            <!-- </div> -->
        </form>
{% endblock %}
