{% extends "manager_layout.html" %}

{% block head %}
<title>管理者一覧</title>
{% endblock %}

{% block content %}
            <p class="report">※管理者一覧です</p>
            <table>
                <tr>
                    <th>名前</th>
                    <th>メールアドレス</th>
                    <th><!-- 削除ボタン --></th>
                </tr>
            {% for i in range(list | length) %}
            {% if i%2 == 0 %}
                <tr>
                    <td class="blue">{{list[i][0]}}</td>
                    <td class="blue">{{list[i][1]}}</td>
                    <td class="blue"><a href="{{url_for('manager_delete_result',mail=list[i][1])}}">削除</a></td>
                </tr>
            {% else %}
            <tr>
                <td class="white">{{list[i][0]}}</td>
                <td class="white">{{list[i][1]}}</td>
                <td class="white"><a href="{{url_for('manager_delete_result',mail=list[i][1])}}">削除</a></td>
            </tr>
            {% endif %}
            {% endfor %}
{% endblock %}
