{% extends "manager_view.html" %}
{% block content %}
            <div class="file_choose">
                <span class="filename">ファイル選択</span>
                <label><input type="file" name="fileinput" class="file_input">ファイル添付</label>
            </div><br>
            <a href="#" class="link_style"> テンプレートをダウンロードする</a>
            <div class="course_table">
                <table>
                    <tr>
                        <th colspan="4">学科</th>
                    </tr>
                    <tr>
                        <td class="course_id">1</td>
                        <td><span style="margin-left: 30pt;">情報システム科<span> </td>
                        <td class="course_id">6</td>
                        <td><span style="margin-left: 30pt;">グラフィックデザインコース</span></td>

                    </tr>
                    <tr>
                        <td class="course_id">2</td>
                        <td><span style="margin-left: 30pt;">ネットワークセキュリティ科</span></td>
                        <td class="course_id">7</td>
                        <td><span style="margin-left: 30pt;">アニメ・マンガコース</span></td>
                    </tr>
                    <tr>
                        <td class="course_id">3</td>
                        <td><span style="margin-left: 30pt;">総合システム工学科</span></td>
                        <td class="course_id">8</td>
                        <td><span style="margin-left: 30pt;">CGクリエイトコース</span></td>
                    </tr>
                    <tr>
                        <td class="course_id">4</td>
                        <td><span style="margin-left: 30pt;">高度情報工学科</span></td>
                        <td class="course_id">9</td>
                        <td><span style="margin-left: 30pt;">建築インテリアコース</span></td>
                    </tr>
                    <tr>
                        <td  class="course_id">5</td>
                        <td><span style="margin-left: 30pt;">情報ビジネス科</span></td>
                        <td class="course_id">10</td>
                        <td><span style="margin-left: 30pt;">総合デザイン科</span></td>
                    </tr>
                </table>
            </div>
            <div class="csv_table">
                <p class="csv_column">
                    <span class="name">名前</span>
                    <span class="stu_number">学籍番号</span>
                    <span class="course">学科</span>
                    <span class="year">学年</span>
                    <span class="mail">メールアドレス</span>
                </p>
                <!-- ここでCSVファイルから格納する -->

            </div>
            <p class="regist_button"><button>登録</button></p>
{% endblock %}