<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/sign_up.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>学生新規登録</title>
</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="static/js/sign_up.js"></script>
    <!-- <h3>※下記の内容をご入力の上、ご確認ください</h3>
    <a href="">一括登録する方はこちら</a><br> -->

    <form autocomplete="off">
        <div id="focus"></div>
        <h4>名前</h4>
        <!-- <h4>学籍番号</h4> -->
        <input type="text" half placeholder="名前" autocomplete="off">
        <input type="text" half placeholder="学籍番号" autocomplete="off">
        <h4>学科</h4>
        <div class="cp_ipselect cp_sl02">
            <select required>
                <option value="" hidden>選択してください</option>
                <option value="1">情報システム科</option>
                <option value="2">ネットワークセキュリティ科</option>
                <option value="3">総合システム工学科</option>
                <option value="4">高度情報工学科</option>
                <option value="5">情報ビジネス科</option>
                <option value="6">グラフィックデザインコース</option>
                <option value="7">アニメ・マンガコース</option>
                <option value="8">CGクリエイトコース</option>
                <option value="9">建築インテリアコース</option>
                <option value="10">総合デザイン科</option>
            </select>
            </div>
        <select>
            <option value="">2</option>
            <option value="">3</option>
            <option value="">4</option>
        </select>
    
        <input type="text" placeholder="メールアドレス" autocomplete="off">
        <input type="text" placeholder="メールアドレス(再入力)">
        <!-- <input type="submit" value="Send it"> -->
      </form>
</body>
</html>