{% extends "student_layout.html" %}
{% block content %}
            <div class="flex_class">
                <p class="book_amount">※現在借りている本件数は...冊です</p>
            <button type="button" class="return_button" style="margin-left: 65%;" onclick="window.location.href='{{url_for('stu_camera_return')}}'">返却</button>
            </div>
            <link rel="stylesheet" href="{{url_for('static', filename='css/stu_table.css')}}">
            <table class="rent_result">
              <tr>
                <th class="id_table"></th>
                <th id="rent_column2">タイトル</th>
                <th id="rent_column2">著者</th>
                <th id="rent_column2">出版社</th>
                <th id="rent_column2">返却期限</th>
              </tr>
              {% for i in range(detail_list | length) %}
                {% if i%2 == 0 %}
                  <tr>
                    <th class="blue">{{i+1}}</th>
                    <th class="blue">{{detail_list[i][2]}}</th>
                    <th class="blue">{{detail_list[i][3]}}</th>
                    <th class="blue">{{detail_list[i][4]}}</th>
                    <th class="blue">期限</th>
                  </tr>
                {% else %}
                  <tr>
                    <th class="white">{{i+1}}</th>
                    <th class="white">{{detail_list[i][2]}}</th>
                    <th class="white">{{detail_list[i][3]}}</th>
                    <th class="white">{{detail_list[i][4]}}</th>
                    <th class="white">期限</th>
                  </tr> 
                {% endif %}
              {% endfor %}
            </table>                       
{% endblock %}