{% extends "manager_layout.html" %} 

{% block head %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/sign_up.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>学生削除</title>
{% endblock %}
    
{% block content %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <div class="form_group">
    <h4>※下記の内容をご入力の上、ご確認ください</h4>
    <form autocomplete="off" action="{{url_for('student_delete')}}" method="POST" id="form1" onsubmit="return check()">
        <!-- テキストボックスを半分 -->
        <h4 id=half>名前</h4>
        <h4 id=half>学籍番号</h4>
        <input type="text" half placeholder="(例)盛岡太郎" autocomplete="off" value="{{result[0][1]}}" readonly>
        <input type="text" half placeholder="(例)3201120" autocomplete="off" value="{{result[0][2]}}" readonly>
        <!-- プルダウン -->
        <h4 id=half>学科</h4>
        <h4 id=half>学年</h4>
        <div class="cp_ipselect cp_sl02">
            <select required disabled>
                <option value="{{result[0][3]}}" hidden>{{result[0][3]}}</option>
                <option value="1">情報システム科</option>
                <option value="2">ネットワークセキュリティ科</option>
                <option value="3">総合システム工学科</option>
                <option value="4">高度情報工学科</option>
                <option value="5">情報ビジネス科</option>
                <option value="6">グラフィックデザインコース</option>
                <option value="7">アニメ・マンガコース</option>
                <option value="8">CGクリエイトコース</option>
                <option value="9">建築インテリアコース</option>
                <option value="10">総合デザイン科</option>
            </select>
        </div>
        <div class="s_year cp_pull">
            <select disabled>
                <option value={{result[0][4]}} hidden>{{result[0][4]}}</option>
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
            </select>
        </div>&nbsp;&nbsp;

        <!-- メールアドレス　-->
        <h4>メールアドレス</h4>
        <input type="text" value="{{result[0][0]}}" placeholder="(例)safasfd@morijyobi.ac.jp" autocomplete="off" readonly>
      </form>
      <input type="submit" value="削除" form="form1" id="btn">
    </div>
<!-- アラート機能 -->
<script>
    function check(){
        if(window.confirm('削除してよろしいですか？')){ // 確認ダイアログを表示
            btn.style.visibility = 'hidden';
            return true; // 「OK」時は送信を実行
        }
        else{ // 「キャンセル」時の処理
            window.alert('キャンセルされました'); // 警告ダイアログを表示
            return false; // 送信を中止
        }
    }
</script>
{{error}}
{{event}}
{% endblock %}
</body>
</html>