{% extends "student_layout.html" %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

{% block content %}
            <form action="{{url_for('register_review')}}" method="post" onsubmit="return check()">
            <p class="screen_title">レビュー機能</p>
            <div class="review_style">
                <div class="user_area">
                    <p class="user_name">公開名</p>
                    <p class="name_type"><input type="text" name="name" value={{name}}></p>
                    <span class="show_anonymous">匿名で表示<input type="checkbox" name="anonymous" value="1" style="transform: scale(1.8);margin-left: 15pt;"></span>
                </div>
                <div class="rate">
                   <p class="rate_question">本の評価は？</p>
                   
                     <input type="hidden" name="isbn" value={{isbn}}>
                    <div class="evaluation">
                      <input id="star1" type="radio" name="star" value="5" />
                      <label for="star1"><span class="text">最高</span>★</label>
                      <input id="star2" type="radio" name="star" value="4" />
                      <label for="star2"><span class="text">良い</span>★</label>
                      <input id="star3" type="radio" name="star" value="3" />
                      <label for="star3"><span class="text">普通</span>★</label>
                      <input id="star4" type="radio" name="star" value="2" />
                      <label for="star4"><span class="text">悪い</span>★</label>
                      <input id="star5" type="radio" name="star" value="1" />
                      <label for="star5"><span class="text">最悪</span>★</label>
                    </div>
                  
                </div>

            </div>
            <div class="review_area">
                <p class="title_view">レビューを追加</p>
                <textarea name="review" cols="56" rows="5" maxlength="1024" class="review_add"></textarea>
            </div>
            <!-- <p class="post_button"><button>投稿</button></p> -->
            <input type="submit" value="投稿"class="post_button">
          </form>
<!-- アラート機能 -->
<script>
  function check(){
      if(window.confirm('送信してよろしいですか？')){ // 確認ダイアログを表示
          btn.style.visibility = 'hidden';
          return true; // 「OK」時は送信を実行
      }
      else{ // 「キャンセル」時の処理
          window.alert('キャンセルされました'); // 警告ダイアログを表示
          return false; // 送信を中止
      }
  }
</script>
{% endblock %}
</body>
</html>
