{% extends "student_layout.html" %}
{% block content %}
            <span class="book_search">キーワード：</span>
            <span class="hidari"><input type="text" name="key" class="text_box"></span>
            <button class="view_search">検索</button><br>
            <link rel="stylesheet" href="{{url_for('static', filename='css/stu_table.css')}}">
            <div class="scroll_bar">
            <table class="rent_result">
              <tr>
                <th class="id_table"></th>
                <th id="book_view">タイトル</th>
                <th id="book_view">著者</th>
                <th id="book_view">出版社</th>
                <th id="book_view">評価</th>
                <th id="book_view">貸出可否</th>
                <th id="book_view">タグ</th>
              </tr>
              <tr>
                <td class="blue">1</td>
                <td class="blue">2</td>
                <td class="blue">3</td>
                <td class="blue">4</td>
                <td class="blue">5</td>
                <td class="blue">5</td>
                <td class="blue">5</td>
              </tr>
              <tr>
                <td class="white">2</td>
                <td class="white"></td>
                <td class="white"></td>
                <td class="white"></td>
                <td class="white"></td>
                <td class="white"></td>
                <td class="white"></td>   
              </tr>
              <tr>
                <td class="blue">3</td>
                <td class="blue"></td>
                <td class="blue"></td>
                <td class="blue"></td>
                <td class="blue"></td>
                <td class="blue"></td>
                <td class="blue"></td>
              </tr>
              <tr>          
                <td class="white">4</td>
                <td class="white"></td>
                <td class="white"></td>
                <td class="white"></td>
                <td class="white"></td>
                <td class="white"></td>
                <td class="white"></td>
              </tr>       
            </table>
            </div>                     
{% endblock %}        