{% extends "student_layout.html" %}
{% block content %}
    <span class="book_history">※過去に借りた本の一覧です。</span>  
    <link rel="stylesheet" href="{{url_for('static', filename='css/stu_table.css')}}">  
    <table class="book_table">
        <tr>
            <th class="book_num"></th>
            <th class="column_book">タイトル</th>
            <th class="column_book">著者</th>
            <th class="column_book">貸出日</th>
            <th class="column_book">出版日</th>
            <th class="column_book">返却日</th>
        </tr>
        
        <tr>
            <td class="blue">1</td>
            <td class="blue">2</td>
            <td class="blue">3</td>
            <td class="blue">4</td>
            <td class="blue">5</td>
            <td class="blue">6</td>
        </tr>
            
            <td class="white">2</td>
            <td class="white"></td>
            <td class="white"></td>
            <td class="white"></td>
            <td class="white"></td>
            <td class="white"></td>
        </tr>
        <tr>
            <td class="blue">3</td>
            <td class="blue"></td>
            <td class="blue"></td>
            <td class="blue"></td>
            <td class="blue"></td>
            <td class="blue"></td>
        </tr>
        <tr>   
            <td class="white">4</td>
            <td class="white"></td>
            <td class="white"></td>
            <td class="white"></td>
            <td class="white"></td>
            <td class="white"></td>
        </tr>
    </table>        
{% endblock %}