{% extends "manager_layout.html" %}

    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/sign_up.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>学生新規登録</title>
    {% endblock %}

{% block content %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <div class="form_group">
    <div class="yoko">
        <h4>※下記の内容をご入力の上、ご確認ください</h4>
        <h4 id="right"><a href="student_register_all">一括登録する方はこちら</a></h4>
    </div>

    <form autocomplete="off" action="{{url_for('student_register')}}" method="POST" id="form1" onsubmit="return check()">
        <!-- テキストボックスを半分 -->
        <h4 id=half>名前</h4>
        <h4 id=half>学籍番号</h4>
        <input type="text" half placeholder="(例)盛岡太郎" autocomplete="off" name="name">
        <input type="text" half placeholder="(例)3201120" autocomplete="off" name="stu_number">
        <!-- プルダウン -->
        <h4 id=half>学科</h4>
        <h4 id=half>学年</h4>
        <div class="cp_ipselect cp_sl02">
            <select name="course" required>
                <option value="" hidden>選択してください</option>
                <option value="1">情報システム科</option>
                <option value="2">ネットワークセキュリティ科</option>
                <option value="3">総合システム工学科</option>
                <option value="4">高度情報工学科</option>
                <option value="5">情報ビジネス科</option>
                <option value="6">グラフィックデザインコース</option>
                <option value="7">アニメ・マンガコース</option>
                <option value="8">CGクリエイトコース</option>
                <option value="9">建築インテリアコース</option>
                <option value="10">総合デザイン科</option>
            </select>
        </div>
        <div class="s_year cp_pull">
            <select name="year">
                <option value="" hidden>選択してください</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
        </div>&nbsp;&nbsp;

        <!-- メールアドレス　-->
        <h4>メールアドレス</h4>
        <input type="text" placeholder="(例)safasfd@morijyobi.ac.jp" autocomplete="off" name="mail">
        <h4>メールアドレス(再入力)</h4>
        <input type="text" placeholder="(例)safasfd@morijyobi.ac.jp" name="re_mail">
      </form>
      {% if visibility == 0 %}
        <input type="submit" value="登録" form="form1" id="btn">
    {% endif %}
    </div>
    <!-- アラート機能 -->
    <script>
        function check(){
            if(window.confirm('送信してよろしいですか？')){ // 確認ダイアログを表示
                btn.style.visibility = 'hidden';
                return true; // 「OK」時は送信を実行
            }
            else{ // 「キャンセル」時の処理
                window.alert('キャンセルされました'); // 警告ダイアログを表示
                return false; // 送信を中止
            }
}
    </script>
    {{error}}
    {{event}}
{% endblock %}
</body>
</html>