{% extends "student_layout.html" %}

{% block head %}
<title>図書一覧</title>
{% endblock %}

{% block content %}
    <p class="result_book">※該当検索は{{book_list | length}}件です</p>
    <form action="{{url_for('stu_book_search')}}" method="get">
        <span class="book_search">キーワード：</span>
        <span class="hidari"><input type="text" name="key" class="text_box" autocomplete="off"></span>
        <input type="hidden" name="tag_flag" value="0">
        <input type="submit" class="view_search" value="検索">
        <input type="submit" class="view_search" value="全件検索">
    </form>
    <link rel="stylesheet" href="{{url_for('static', filename='css/stu_table.css')}}">
    <div class="scroll_bar">
    <table class="book_table">
            <tr>
                <th class="book_column">タイトル</th>
                <th class="book_column">著者</th>
                <th class="book_column">出版社</th>
                <th class="book_column_review">評価</th>
                <th class="tag">タグ</th>
            </tr>
            {% for i in range(book_list | length) %}
                {% if i%2 == 0 %}
            <tr>
                <td class="blue"><a href="{{url_for('book_detail', book=book_list[i],book_amount=book_amount_list[i])}}">{{book_list[i][2]}}</a></td>
                <td class="blue">{{book_list[i][3]}}</td>
                <td class="blue">{{book_list[i][4]}}</td>
                <td class="blue">{{book_list[i][8]}}</td>
                <td class="blue">
                    <a href="{{url_for('stu_book_search',key=book_list[i][9],tag_flag=1)}}">{{book_list[i][9]}}</a>
                </td>
            </tr>
                {% else %}
            <tr>
                <td class="white"><a href="{{url_for('book_detail', book=book_list[i],book_amount=book_amount_list[i])}}">{{book_list[i][2]}}</a></td>
                <td class="white">{{book_list[i][3]}}</td>
                <td class="white">{{book_list[i][4]}}</td>
                <td class="white">{{book_list[i][8]}}</td>
                <td class="white">
                    <a href="{{url_for('stu_book_search',key=book_list[i][9],tag_flag=1)}}">{{book_list[i][9]}}</a>
                </td>
            </tr>
                {% endif %}
            {% endfor %}
        </table>
        </div>
{% endblock %}