{% extends "student_view.html" %}
{% block content %}
            <span class="book_amount">※現在借りている本件数は...冊です</span>
            <button class="return_button">返却</button><br>
            <p class="rent_column2">
                <span class="column_title">タイトル</span>
                <span class="author">著者</span>
                <span class="company">出版社</span>
                <span class="return_day">返却期限</span>
            </p>
            <p class="blue"></p>
            <p class="white"></p>
            <p class="blue"></p>
            <p class="white"></p>
            <p class="blue"></p>
            <p class="white"></p>
            <p class="blue"></p>
            <p class="white"></p>
            <p class="blue"></p>
            <p class="white"></p>
            <p class="blue"></p>
            <p class="white"></p>
{% endblock %}