{% extends "student_layout.html" %}

{% block head %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>履歴</title>
{% endblock %}

{% block content %}
    <span class="book_history">※過去に借りた本の一覧です。</span>  
    <link rel="stylesheet" href="{{url_for('static', filename='css/stu_table.css')}}">  
    <div class="scroll_bar">
    <table class="book_table">
        <tr>
            <th class="book_num"></th>
            <th class="column_book">タイトル</th>
            <th class="column_book">著者</th>
            <th class="column_book">出版社</th>
            <th class="column_book">貸出日</th>
            <th class="column_book">返却日</th>
        </tr>
        {% for i in range(history | length ) %}
            {% if i%2 == 0 %}
                <tr>
                    <td class="blue">{{i+1}}</td>
                    <td class="blue">{{history[i][0]}}</td>
                    <td class="blue">{{history[i][2]}}</td>
                    <td class="blue">{{history[i][3]}}</td>
                    <td class="blue">{{history[i][4]}}</td>
                    <td class="blue">{{history[i][5]}}</td>
                </tr>
            {% else %}
                <tr>
                    <td class="white">{{i+1}}</td>
                    <td class="white">{{history[i][0]}}</td>
                    <td class="white">{{history[i][2]}}</td>
                    <td class="white">{{history[i][3]}}</td>
                    <td class="white">{{history[i][4]}}</td>
                    <td class="white">{{history[i][5]}}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
    </div>   
{% endblock %}