{% extends "student_layout.html" %}
{% block content %}
    <span class="book_history">※過去に借りた本の一覧です。</span>            
    <p class="history_column">
        <span class="column_title">タイトル</span>
        <span class="author">著者</span>
        <span class="company">出版社</span>
        <span class="rent_day">貸出日</span>
        <span class="return_day">返却日</span>
        </p>
        <p class="blue"></p>
        <p class="white"></p>
        <p class="blue"></p>
        <p class="white"></p>
        <p class="blue"></p>
        <p class="white"></p>
        <p class="blue"></p>
        <p class="white"></p>
        <p class="blue"></p>
        <p class="white"></p>
        <p class="blue"></p>
        <p class="white"></p>
{% endblock %}