{% extends "student_layout.html" %}

{% block head %}
<title>本を借りる</title>
{% endblock %}

{% block content %}
            <p class="attention">※本をカメラで貸出する為、本のバーコードをカメラに向かってかざしてください。</p>
            <div class="camera_area">
                
            </div>
            <p class="rent_column">
                <span class="isbn">ISBN</span>
                <span class="column_title">タイトル</span>
            </p>
            <p class="blue"></p>
            <p class="white"></p>
            <p class="blue"></p>
            <p class="white"></p>
            <p class="blue"></p>
            <p class="white"></p>
            <p class="blue"></p>
            <p class="white"></p>
            <p class="blue"></p>
            <p class="white"></p>
            <p class="blue"></p>
            <p class="white"></p>
{% endblock %}
        