{% extends "student_layout.html" %}
  {% block head %}
  <link rel="stylesheet" href="{{url_for('static', filename='css/book_register_camera2.css')}}">
    <script type="text/javascript" src="{{url_for('static', filename='js/quagga.min.js')}}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <title>本貸出</title>
  {% endblock %}

  {% block content %}
    <div class="form_group">
    <h4>※本のisbnをカメラに向かってかざしてください。</h4>
    <form autocomplete="off" action="{{url_for('stu_book_rent_result')}}">
      <h3>本貸出画面</h3>
      <!-- カメラ -->
      <script>
          var DetectedCount=0,DetectedCode="";
          var video,tmp,tmp_ctx,jan,prev,prev_ctx,w,h,mw,mh,x1,y1;
          window.addEventListener('load',function(event){
            video=document.createElement('video');
            video.setAttribute("autoplay","");
            video.setAttribute("muted","");
            video.setAttribute("playsinline","");
            video.onloadedmetadata = function(e){video.play();};
            prev=document.getElementById("preview");
            prev_ctx=prev.getContext("2d");
            tmp = document.createElement('canvas');
            tmp_ctx = tmp.getContext("2d");
            jan=document.getElementById("jan");
            
            navigator.mediaDevices.getUserMedia(
              //マイクはオフ, カメラの設定   背面カメラを希望する 640×480を希望する 1200:400
              {"audio":false,"video":{"facingMode":"environment"}}
              // {"audio":false,"video":{"facingMode":"environment","width":{"ideal":640},"height":{"ideal":480}}}
            ).then( //許可
              function(stream){
                video.srcObject = stream;
                //3秒毎にスキャンする
                setTimeout(Scan,4000,true);
              }
            ).catch( //拒否
              function(err){jan.value+=err+'\n';}
            );
          
            function Scan(first){
              if(first){
                //選択された幅高さ
                w=video.videoWidth;
                h=video.videoHeight;
                //画面上の表示サイズ
                // prev.style.width=(w/2)+"px";
                // prev.style.height=(h/2)+"px";
                //内部のサイズ
                prev.setAttribute("width",w);
                prev.setAttribute("height",h);
                mw=w*0.5; //0.5
                mh=w*0.2; //0.2
                x1=(w-mw)/2;
                y1=(h-mh)/2;
              }
              prev_ctx.drawImage(video,0,0,w,h);
              prev_ctx.beginPath();
              prev_ctx.strokeStyle="rgb(255,0,0)";
              prev_ctx.lineWidth=2;
              prev_ctx.rect(x1,y1,mw,mh);
              prev_ctx.stroke();
              tmp.setAttribute("width",mw);
              tmp.setAttribute("height",mh);
              tmp_ctx.drawImage(prev,x1,y1,mw,mh,0,0,mw,mh);
              tmp.toBlob(function(blob){
                let reader = new FileReader();
                reader.onload=function(){
                   let config={
                     decoder: {
                      readers: ["ean_reader","ean_8_reader"],
                      multiple: false, //同時に複数のバーコードを解析しない
                    },
                    locator:{patchSize:"large",halfSample:false},
                    locate:false,
                    src:reader.result,
                  };
                  Quagga.decodeSingle(config,function(){});
                }
                reader.readAsDataURL(blob);
              });
              setTimeout(Scan,50,false);
            }
            Quagga.onDetected(function (result) {
              //読み取り誤差が多いため、5回連続で同じ値だった場合に成功とする
              if(DetectedCode==result.codeResult.code){
                DetectedCount++;
               }else{
                DetectedCount=0;
                 DetectedCode=result.codeResult.code;
              }
              if(DetectedCount>=5){
                jan.value+=result.codeResult.code+' ';
                $.get('stu_book_rent', { result : result.codeResult.code} )
                .done(function(data){
                  const book_json = JSON.parse(data);
                  console.log(book_json);
                  const book_isbn = document.getElementById('book_isbn');
                  const book_title = document.getElementById('book_title');

                  let table = document.getElementById('targetTable');
                  let newRow = table.insertRow();
                  let newCell = newRow.insertCell();
                  let newText = document.createTextNode(book_json.isbn);
                  newCell.appendChild(newText);

                  newCell = newRow.insertCell();
                  newText = document.createTextNode(book_json.title);
                  newCell.appendChild(newText);
                  console.log(book_json.title);

                  // テーブル交互
                  var row = table.rows.length;
                  if (row % 2  == 0){
                    newRow.classList.add('Even');
                  }else{
                    newRow.classList.add('Odd');
                  }
                })
                .fail(function(){
                  window.alert('ISBN取得エラー');
                })
                DetectedCode='';
                DetectedCount=0;
              }
            });
          });
          </script>

      <div><canvas id="preview"></canvas></div>
        <div class="yoko2">
            <input type="text" half id="jan" name="isbn">
            <input type="submit" value="借りる">
         </div>
      </div>
      </form>

      <link rel="stylesheet" href="{{url_for('static', filename='css/stu_table.css')}}">
      <div class="scroll_bar">
      <table class="book_table2" id="targetTable">
       <tr>
         <th class="isbn">ISBN</th>
         <th class="column_title">タイトル</th>
       </tr>
   </table>
   </div>
{% endblock %}