<!DOCTYPE html>
<html lang="jp">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/student_view_mobile.css">
    <link rel="stylesheet" href="../static/css/student_view.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
    <title>Document</title>
    {% block head %}
    {% endblock %}
</head>

<body>
    <div>
        <header>
            <h2 class="title">図書管理システム</h2>
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                  </div>
        </header></div>
        <nav class="globalMenuSp">
            <ul>
                <li><a href="{{url_for('stu_book_renting')}}" class="menu_style menu_hover">借りている一覧</a></li>
                <li><a href="{{url_for('book_list')}}" class="menu_style menu_hover">図書一覧</a></li>
                <li><a href="{{url_for('stu_camera_rent')}}" class="menu_style menu_hover">本を借りる</a></li>
                <li><a href="{{url_for('stu_book_history')}}" class="menu_style menu_hover">履歴</a></li>
                <li><a href="{{url_for('pw_reset')}}" class="menu_style menu_hover">パスワード変更</a></li>
                <li><a href="{{url_for('logout')}}" class="menu_style menu_hover">ログアウト</a></li>
            </ul>
        </nav>
        <div class="main_board">
            {% block content %}

            {% endblock %}
        </div> 
</body>
<script src="../static/js/layout.js"></script>
</html>